* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
    transition: 0.3s;
}

header {
    background: #222;
    padding: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    color: white;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00adb5;
}

#darkModeToggle {
    padding: 5px 10px;
    cursor: pointer;
}

/* Hero */
.hero {
    text-align: center;
    padding: 40px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Card */
.card {
    background: white;
    width: 85%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.project-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.project-card {
    flex: 1;
    background: #eee;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    background: #00adb5;
    color: white;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    background: #00adb5;
    color: white;
    border: none;
    cursor: pointer;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
}

.dark header {
    background: black;
}

/* Animasi */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
